h1{
    color: blueviolet;
}


/*body styling*/
body{
    font-family: 'Arial', sans-serif;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: o;
}
 /*container*/
 .container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgb(0,0,0.3);
    padding: 30px;
    width: 350px;
    text-align: center;
 }

 /*title styling*/
 h1{
    color: black ;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 1000px;
 }

/*input field styling*/
#taskInput {
    width: 80%;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 10px;
    margin-bottom: 11px;
    outline: 20px;
    transition: border 0.2s;
}

#taskInput:focus{
    border-color: blueviolet;
}
/*button style*/
button {
    padding: 10px 20px;
    background-color: blueviolet;
    color: aliceblue;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 15px;
}

button:hover {
    background-color: rgb(233, 137, 193);
}

/*task list styling*/
ul {
    list-style-type:none;
    padding: 0%;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

list {
    background-color: blueviolet;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

list:hover {
    background-color: beige;
}

/*compelete task*/
.completed {
    text-decoration: line-through;
    color: gray;
}

/*remove button styling*/
.remove-btn {
    background-color: red;
    border: black;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;
}

.remove-btn:hover {
    background-color: red;
}